<div class='footer' >

<div FxLayout='row' fxLayoutGap='20px' 
fxLayout.sm="column" 
fxLayout.xs="column" >

  <div fxFlex class='links'>
    <h2>Links</h2>
    <mat-list role="list" fxLayout.sm="row" fxLayout.xs="row" >
        <mat-list-item><a mat-button>Home</a></mat-list-item> 
        <mat-list-item><a mat-button>About</a></mat-list-item>
        <mat-list-item><a mat-button>Menu</a></mat-list-item> 
        <mat-list-item><a mat-button>Contact</a></mat-list-item>
  
    </mat-list>
    
  </div>

  <div fxFlex class='adreass'>
    <h2>Our Adreass</h2>
    <p>
        
        121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>
        <i class="fa fa-phone"></i>: +852 1234 5678<br>
        <i class="fa fa-fax"></i>: +852 8765 4321<br>
        <i class="fa fa-envelope"></i>:
        <a href="mailto:confusion@food.net">confusion@food.net</a>
      </p>

  </div>
  <div fxFlex class='socialMedia'>

      <a style="background-color: blue" mat-icon-button	href="https://www.facebook.com" target="_blank"><i style="color: white" class="fa fa-facebook fa-lg"></i></a>
      <a  style="background-color: blue"  mat-icon-button	href="https://www.facebook.com" target="_blank"><i  style="color: white" class="fa fa-twitter fa-lg"></i></a>
      <a style="background-color: blue"  mat-icon-button	href="https://www.facebook.com" target="_blank"><i  style="color: white"class="fa fa-instagram fa-lg"></i></a>
      <a style="background-color: blue"  mat-icon-button	href="https://www.facebook.com" target="_blank"><i style="color: white" class="fa fa-linkedin fa-lg"></i></a>
      <a style="background-color: blue"  mat-icon-button	href="https://www.facebook.com" target="_blank"><i  style="color: white"class="fa fa-youtube fa-lg"></i></a>
      <a style="background-color: blue"  mat-icon-button	href="https://www.facebook.com" target="_blank"><i style="color: white" class="fa fa-phone fa-lg"></i></a>


  </div>
</div>
  <div style="text-align: center; padding-top: 30px"> <span>   © Copyright 2018 Ristorante Con Fusion</span></div>


</div>
